Flask==3.1.1
flask-cors==6.0.1
numpy==1.26.4
opencv-python==4.11.0.86
deepface==0.0.93
tf_keras==2.19.0
torch==2.7.1
insightface==0.7.3
onnx==1.18.0
onnxruntime==1.19.2
streamlink==7.5.0
deepface==0.0.93